<button type="button" class="btn btn-link" (click)="getInitialSetup()"> Go to Initial Setup</button>

<div class="row">
  <div class="col-md-4 analyzer-container">
    <h2 style="margin: auto">Analyzer</h2>
    <br>
    <form [formGroup]="analyzerForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="name">Name of the job:</label>
        <input type="text" class="form-control" formControlName="name" id="name" autocomplete="off">
        <div class="error" *ngIf="analyzerForm.controls['name'].hasError('required') && analyzerForm.controls['name'].touched">Name of the job is required</div>
      </div>

      <div class="form-group">
        <label for="currency">Currencies:</label>
        <select class="form-control" id="currency" required>
          <option *ngFor="let cur of currencies" [value]="cur">{{cur}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="location">Locations:</label>
        <select class="form-control" id="location" required>
          <option *ngFor="let loc of locations" [value]="loc">{{loc}}</option>
        </select>
      </div>

      <button class="btn btn-success" [disabled]="analyzerForm.invalid">Process</button>
      <div *ngIf="invalidAnalyzer" class="error">
        <div>Invalid values.</div>
      </div>

    </form>
  </div>
</div>
